<!-- Loader -->
<div class="container-fluid" ng-show="!players || !outfits && !error">
    <div class="col-md-12">
        <p>Loading...</p>
    </div>
</div>

<!-- Error -->
<div class="container-fluid" ng-show="error">
    <div class="col-md-12">
        <p class="text-danger">Error loading player data!</p>
    </div>
</div>

<!-- Main Content -->
<div class="container-fluid" ng-show="players || outfits && !error">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1>Search Results</h1>
        </div>
    </div>

    <hr>

    <!-- Parameters -->
    <form name="parameters" class="row" role="refine">
        <div class="col-md-6">
            <div class="form-group">
                <label for="sever" class="label label-default">Server</label>
                <select name="server" id="server" class="form-control">
                    <option value="0">-- All Servers --</option>
                    <option ng-repeat="server in servers | orderBy:servers.sortOrder" value="{{server.world_id}}" ng-bind="server.name.en"></option>
                </select>
            </div>
        </div>
    </form>

    <!-- Players -->
    <div class="row">
        <div class="col-md-12">
            <h2>Players</h2>
            <div class="table-responsive" ng-show="players.length > 0">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th ng-click="sort('playerList', 'name.first')">
                                Player&nbsp;
                                <span ng-show="playerList.sortOrder == 'name.first'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'outfit.alias')">
                                Outfit&nbsp;
                                <span ng-show="playerList.sortOrder == 'outfit.alias'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'faction.name.en')">
                                Faction&nbsp;
                                <span ng-show="playerList.sortOrder == 'faction.name.en'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'battle_rank.value')">
                                Rank&nbsp;
                                <span ng-show="playerList.sortOrder == 'battle_rank.value'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'world.name.en')">
                                Server&nbsp;
                                <span ng-show="playerList.sortOrder == 'world.name.en'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'online_status')">
                                Status&nbsp;
                                <span ng-show="playerList.sortOrder == 'online_status'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players | orderBy:playerList.sortOrder:playerList.reverse">
                            <td>
                                <a ng-href="#/player/{{player.name.first_lower}}" ng-bind="player.name.first"></a>
                            </td>
                            <td>
                                <a ng-href="#/outfit/{{player.outfit.alias}}" ng-bind="player.outfit.alias"></a>
                            </td>
                            <td ng-bind="player.faction.name.en"></td>
                            <td ng-bind="player.battle_rank.value"></td>
                            <td ng-bind="player.world.name.en"></td>
                            <td>
                                <span class="text-danger" ng-show="player.online_status == 0">Offline</span>
                                <span class="text-success" ng-show="player.online_status > 0">Online</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="info">
                            <td colspan="6">
                                Displaying&nbsp;
                                <span ng-bind="players.length"></span>&nbsp;results.
                                <span ng-show="players.length == 100">Refine search for more results.</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <p ng-show="players.length == 0">No results found.</p>
        </div>
    </div>


    <!-- Outfits -->
    <div class="row">
        <div class="col-md-12">
            <h2>Outfits</h2>
            <div class="table-responsive" ng-show="outfits.length > 0">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th ng-click="sort('outfitList', 'name')">
                                Name&nbsp;
                                <span ng-show="outfitList.sortOrder == 'name'">
                                    <i class="fa fa-angle-up" ng-show="outfitList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!outfitList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('outfitList', 'alias')">
                                Tag&nbsp;
                                <span ng-show="outfitList.sortOrder == 'alias'">
                                    <i class="fa fa-angle-up" ng-show="outfitList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!outfitList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('outfitList', 'member_count')">
                                Members&nbsp;
                                <span ng-show="outfitList.sortOrder == 'member_count'">
                                    <i class="fa fa-angle-up" ng-show="outfitList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!outfitList.reverse"></i>
                                </span>
                            </th>
                            <th>Server</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="outfit in outfits | orderBy:outfitList.sortOrder:outfitList.reverse">
                            <td>
                                <a ng-href="#/outfit/{{outfit.alias}}" ng-bind="outfit.name"></a>
                            </td>
                            <td ng-bind="outfit.alias"></td>
                            <td ng-bind="outfit.member_count"></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="info">
                            <td colspan="6">
                                Displaying&nbsp;
                                <span ng-bind="outfits.length"></span>&nbsp;results.
                                <span ng-show="outfits.length == 100">Refine search for more results.</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <p ng-show="outfits.length == 0">No results found.</p>
        </div>
    </div>
</div>
