<!-- Loader -->
<div class="container-fluid" ng-show="!players || !outfits && !error">
    <div class="col-md-12">
        <p>Loading...</p>
    </div>
</div>

<!-- Error -->
<div class="container-fluid" ng-show="error">
    <div class="col-md-12">
        <p class="text-danger">Error loading player data!</p>
    </div>
</div>

<!-- Main Content -->
<div class="container-fluid" ng-show="players || outfits && !error">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1>Search Results</h1>
        </div>
    </div>

    <hr>

    <!-- Parameters -->
    <form name="parameters" class="row" role="refine">
        <div class="col-md-6">
            <div class="form-group">
                <label for="sever" class="label label-default">Server</label>
                <select name="server" id="server" class="form-control" ng-model="server" ng-options="server.id as server.name for server in servers | orderBy:servers.sortOrder">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="faction" class="label label-default">Faction</label>
                <select name="faction" id="faction" class="form-control" ng-model="faction" ng-options="faction.id as faction.name for faction in factions | orderBy:factions.sortOrder">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="minLevel" class="label label-default">Min. Level</label>
                <input type="number" min="1" max="100" name="minLevel" id="minLevel" ng-model="minLevel" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="maxLevel" class="label label-default">Max. Level</label>
                <input type="number" min="1" max="100" name="maxLevel" id="maxLevel" ng-model="maxLevel" class="form-control">
            </div>
        </div>
    </form>

    <!-- Players -->
    <div class="row">
        <div class="col-md-12">
            <h2>Players</h2>
            <div class="table-responsive" ng-show="players.length > 0">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th ng-click="sort('playerList', 'name')">
                                Player&nbsp;
                                <span ng-show="playerList.sortOrder == 'name'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'outfit')">
                                Outfit&nbsp;
                                <span ng-show="playerList.sortOrder == 'outfit'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'faction')">
                                Faction&nbsp;
                                <span ng-show="playerList.sortOrder == 'faction'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'battle_rank')">
                                Rank&nbsp;
                                <span ng-show="playerList.sortOrder == 'battle_rank'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'world')">
                                Server&nbsp;
                                <span ng-show="playerList.sortOrder == 'world'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('playerList', 'online_status')">
                                Status&nbsp;
                                <span ng-show="playerList.sortOrder == 'online_status'">
                                    <i class="fa fa-angle-up" ng-show="playerList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!playerList.reverse"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players | orderBy:playerList.sortOrder:playerList.reverse | PlayerFilter:server:faction:minLevel:maxLevel">
                            <td>
                                <a ng-href="#/player/{{player.name}}" ng-bind="player.name"></a>
                            </td>
                            <td>
                                <a ng-href="#/outfit/{{player.outfit}}" ng-bind="player.outfit"></a>
                            </td>
                            <td ng-bind="player.faction"></td>
                            <td ng-bind="player.battle_rank"></td>
                            <td ng-bind="player.world"></td>
                            <td>
                                <span class="text-danger" ng-show="player.online_status == 0">Offline</span>
                                <span class="text-success" ng-show="player.online_status > 0">Online</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="info">
                            <td colspan="6">
                                Displaying&nbsp;
                                <span ng-bind="players.length"></span>&nbsp;results.
                                <span ng-show="players.length == 100">Refine search for more results.</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <p ng-show="players.length == 0">No results found.</p>
        </div>
    </div>


    <!-- Outfits -->
    <div class="row">
        <div class="col-md-12">
            <h2>Outfits</h2>
            <div class="table-responsive" ng-show="outfits.length > 0">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th ng-click="sort('outfitList', 'name')">
                                Name&nbsp;
                                <span ng-show="outfitList.sortOrder == 'name'">
                                    <i class="fa fa-angle-up" ng-show="outfitList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!outfitList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('outfitList', 'alias')">
                                Tag&nbsp;
                                <span ng-show="outfitList.sortOrder == 'alias'">
                                    <i class="fa fa-angle-up" ng-show="outfitList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!outfitList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('outfitList', 'member_count')">
                                Members&nbsp;
                                <span ng-show="outfitList.sortOrder == 'member_count'">
                                    <i class="fa fa-angle-up" ng-show="outfitList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!outfitList.reverse"></i>
                                </span>
                            </th>
                            <th>Server</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="outfit in outfits | orderBy:outfitList.sortOrder:outfitList.reverse">
                            <td>
                                <a ng-href="#/outfit/{{outfit.alias}}" ng-bind="outfit.name"></a>
                            </td>
                            <td ng-bind="outfit.alias"></td>
                            <td ng-bind="outfit.member_count"></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="info">
                            <td colspan="6">
                                Displaying&nbsp;
                                <span ng-bind="outfits.length"></span>&nbsp;results.
                                <span ng-show="outfits.length == 100">Refine search for more results.</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <p ng-show="outfits.length == 0">No results found.</p>
        </div>
    </div>
</div>
