<!-- Loader -->
<div class="container-fluid" ng-show="!outfit">
    <div class="col-md-12">
        <p>Loading...</p>
    </div>
</div>

<!-- Main Content -->
<div class="container-fluid" ng-show="outfit">
    <!-- Header -->
    <div class="row">
        <div class="col-md-6 text-left">
            <h1 ng-bind-template="({{outfit.alias}}) {{outfit.name}}"></h1>
        </div>
        <div class="col-md-6 text-right">
            <h2 ng-bind-template="{{outfit.faction.name}} :: {{outfit.world.name}}"></h2>
        </div>
    </div>

    <!-- Info Bar -->
    <hr>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 text-center" ng-bind-template="Leader: {{outfit.leader}}"></div>
        <div class="col-md-2 text-center" ng-bind-template="Members: {{outfit.members.length}}"></div>
        <div class="col-md-2 text-center" ng-bind-template="Active: {{outfit.activeMembers}}"></div>
        <div class="col-md-2 text-center" ng-bind-template="Average BR: {{outfit.averageBR | number:1}}"></div>
        <div class="col-md-2 text-center" ng-bind-template="Created: {{outfit.created | date:'mediumDate'}}"></div>
    </div>
    <hr>

    <!-- Main Content -->
    <div class="row">
        <section id="filters" class="col-md-12">
            <form name="parameters" role="refine">
                <div class="col-md-3">

                    <!-- Rank -->
                    <div class="form-group">
                        <label for="rank" class="label label-default">Rank</label>
                        <select name="rank" id="faction" class="form-control" ng-model="rank" ng-options="rank.id as rank.name for rank in rankList | orderBy:'name'">
                        </select>
                    </div>

                    <!-- Active -->
                    <div class="checkbox">
                        <label>
                            <input ng-model="showActive" type="checkbox">Only show active members
                        </label>
                    </div>
                </div>
            </form>
        </section>

        <!-- Roster -->
        <section id="roster" class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th ng-click="sort('memberList', 'name')">
                                Name&nbsp;
                                <span ng-show="memberList.sortOrder == 'name'">
                                    <i class="fa fa-angle-up" ng-show="memberList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!memberList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('memberList', 'title')">
                                Title&nbsp;
                                <span ng-show="memberList.sortOrder == 'title'">
                                    <i class="fa fa-angle-up" ng-show="memberList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!memberList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('memberList', 'rank.name')">
                                Outfit Rank&nbsp;
                                <span ng-show="memberList.sortOrder == 'rank.name'">
                                    <i class="fa fa-angle-up" ng-show="memberList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!memberList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('memberList', 'battle_rank')">
                                Battle Rank&nbsp;
                                <span ng-show="memberList.sortOrder == 'battle_rank'">
                                    <i class="fa fa-angle-up" ng-show="memberList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!memberList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('memberList', 'joined')">
                                Joined&nbsp;
                                <span ng-show="memberList.sortOrder == 'joined'">
                                    <i class="fa fa-angle-up" ng-show="memberList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!memberList.reverse"></i>
                                </span>
                            </th>
                            <th ng-click="sort('memberList', 'isActive')">
                                Active&nbsp;
                                <span ng-show="memberList.sortOrder == 'isActive'">
                                    <i class="fa fa-angle-up" ng-show="memberList.reverse"></i>
                                    <i class="fa fa-angle-down" ng-show="!memberList.reverse"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="member in filteredMembers = (outfit.members | orderBy:memberList.sortOrder:memberList.reverse | OutfitFilter:rank:showActive)">
                            <td>
                                <a ng-href="#/player/{{member.name}}" ng-bind="member.name"></a>
                            </td>
                            <td ng-bind="member.title"></td>
                            <td ng-bind="member.rank.name"></td>
                            <td ng-bind="member.battle_rank"></td>
                            <td ng-bind="member.joined | date:'mediumDate'"></td>
                            <td class="text-success"><i class="fa fa-check" ng-show="member.isActive"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="info">
                            <td colspan="6">
                                Displaying&nbsp;
                                <span ng-bind="filteredMembers.length"></span>&nbsp;results.
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>
