<!-- Loader -->
<div class="container-fluid" ng-show="!player && !error">
    <div class="col-md-12">
        <p>Loading...</p>
    </div>
</div>

<!-- Error -->
<div class="container-fluid" ng-show="error">
    <div class="col-md-12">
        <p class="text-danger">Error loading player data!</p>
    </div>
</div>

<!-- Main Content -->
<div class="container-fluid" ng-show="player && !error">
    <!-- Header -->
    <div class="row">
        <div class="col-md-6 text-left">
            <h1 ng-bind-template="{{player.title}} {{player.name}}"></h1>
        </div>
        <div class="col-md-6 text-right">
            <h2 ng-bind-template="{{player.faction.name}} :: {{player.world.name}}"></h2>
        </div>
    </div>

    <!-- Info Bar -->
    <hr>
    <div class="row">
        <div class="col-md-2 text-center" ng-show="player.outfit.name">
            <span ng-bind-template="{{player.outfit.rank}} of "></span>
            <a ng-href="#/outfit/{{player.outfit.tag}}" ng-bind="player.outfit.name"></a>
        </div>
        <div class="col-md-2" ng-show="!player.outfit.name"></div>
        <div class="col-md-2 text-center" ng-bind-template="Battle Rank: {{player.battle_rank}}"></div>
        <div class="col-md-2 text-center" ng-bind-template="Score/Hour: {{player.sph}}"></div>
        <div class="col-md-2 text-center" ng-bind-template="Kill/Death Ratio: {{player.kdr}}"></div>
        <div class="col-md-2 text-center" ng-bind-template="Created: {{player.created | date:'mediumDate'}}"></div>
        <div class="col-md-2 text-center">Status:
            <span class="text-danger" ng-show="!player.isOnline">Offline</span>
            <span class="text-success" ng-show="player.isOnline">Online</span>
        </div>
    </div>
    <hr>

    <div class="row">

        <!-- Stats -->
        <section id="stats" class="col-md-12" ng-controller="PlayerHistoryCtrl">
            <h3>Stats</h3>
            <tabset>
                <!-- Day -->
                <tab heading="Day" active="true" select="loadDay()">
                    <div google-chart chart="charts.kdDay"></div>
                    <div google-chart chart="charts.kdrDay"></div>
                    <div google-chart chart="charts.certsDay"></div>
                    <div google-chart chart="charts.sphDay"></div>
                    <div google-chart chart="charts.timeDay"></div>
                </tab>

                <!-- Week -->
                <tab heading="Week" select="loadWeek()">
                    <div google-chart chart="charts.kdWeek"></div>
                    <div google-chart chart="charts.kdrWeek"></div>
                    <div google-chart chart="charts.certsWeek"></div>
                    <div google-chart chart="charts.sphWeek"></div>
                    <div google-chart chart="charts.timeWeek"></div>
                </tab>

                <!-- Month -->
                <tab heading="Month" select="loadMonth()">
                    <div google-chart chart="charts.kdMonth"></div>
                    <div google-chart chart="charts.kdrMonth"></div>
                    <div google-chart chart="charts.certsMonth"></div>
                    <div google-chart chart="charts.sphMonth"></div>
                    <div google-chart chart="charts.timeMonth"></div>
            </tabset>
        </section>

        <!-- Friends -->
        <section id="friends" class="col-md-6" ng-controller="FriendsCtrl">
            <h3>Friends</h3>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Rank</th>
                            <th>Faction</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="friend in friends | orderBy:friends.sort.order:friends.sort.reverse | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                            <td>
                                <a ng-href="#/player/{{friend.name}}/" ng-bind="friend.name">
                            </td>
                            <td ng-bind="friend.title.name"></td>
                            <td ng-bind="friend.battle_rank"></td>
                            <td ng-bind="friend.faction.name"></td>
                            <td>
                                <span class="text-success" ng-show="friend.isOnline">Online</span>
                                <span class="text-danger" ng-show="!friend.isOnline">Offline</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination ng-show="friends.length > pageSize" total-items="friends.length" items-per-page="pageSize" ng-model="currentPage" class="pagination-sm"></pagination>
        </section>

        <!-- Killboard -->
        <section id="killboard" class="col-md-6" ng-controller="KillboardCtrl">
            <h3>Killboard</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Killer</th>
                            <th>Victim</th>
                            <th>Faction</th>
                            <th>Weapon</th>
                            <th>Vehicle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="kill in killboard" ng-class="kill.color">
                            <td>
                                <a ng-href="#/player/{{kill.attacker.name}}" ng-bind="kill.attacker.name" ng-show="kill.isDeath"></a>
                                <span ng-bind="kill.attacker.name" ng-show="!kill.isDeath"></span>
                            </td>
                            <td>
                                <a ng-href="#/player/{{kill.victim.name}}" ng-bind="kill.victim.name" ng-show="!kill.isDeath"></a>
                                <span ng-bind="kill.victim.name" ng-show="kill.isDeath"></span>
                            </td>
                            <td ng-bind="kill.victim.faction.name"></td>
                            <td ng-bind="kill.attacker.weapon"></td>
                            <td ng-bind="kill.attacker.vehicle"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
